    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        text-align: center;
        background-image: url(img/background.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
      }
      .display{
        background-color: rgb(247, 232, 255);
        border-radius: 3mm;
        border: 1px solid black;
        padding: 25px;
      }
      button {
        margin: 10px;
        padding: 10px 20px;
        font-size: 16px;
        color: blueviolet;
      }
      .time-display {
        margin: 20px;
        font-size: 18px;
      }
      .times{
        display: flex;
        flex-direction: column;
      }
      .buttons{
        display: flex;
        flex-direction: column;
      }
      .buttons2{
        width: 300px;
      }
      #stop{
        width: 127px;
      }
      #reset{
        width: 127px;
      }
      .body{
        display: flex;
        flex-direction: row;
      }
    